
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: rgb(207,215,240);
    display: flex;
    justify-content: center;
    margin: 100px;
}

main{
    width: 1000px;
    background-color: rgb(255,255,255);
    padding: 50px;
    border-radius: 12px;
}

.keyword{
    color: #4268e3;
    font-size: 12px;
    font-weight: 700;
}

.titulo{
    color: #0e2159;
    font-size: 30px;
}

.subtitulo{
    color: #565657;
    font-size: 12px;
    font-weight: 600;
}

.encabezado{
    text-align: center;
    line-height: 40px;
    padding: 20px 20px 40px 20px;
}

.sect-servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
}

.servicio{
    width: 250px;
    margin: 20px 30px;
}

.servicio-title{
    color: #0e2159;
    font-size: 18px;
    font-weight: 600;
}

.TAMAÑO-ICONOS{
    width: 30px;
}